@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gel;
}

body {
    background: $background-color;
    background-color: $background-color;
    overflow-x: hidden;
}

// NAVBAR

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
    gap: 2.5rem;
    align-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    padding: 1rem;
    font-size: 20.8px;
    font-weight: 100;
    color: $main-color;
}

#links {
    display: flex;
    list-style: none;
    align-items: center;
}

#links li {
    margin-left: 3rem;
}

#links li a {
    padding-right: .1rem;
    font-size: 17.5px;
    text-decoration: none;
    color: $main-color;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 10px;
}

#links li a:hover {
    border-bottom: 3px solid $secondary-color;
    transition: all 0.2s;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10rem;
    margin-top: 2rem;
}


#intro-text h2 {
    font-weight: 100;
    font-size: 28px;
    color: $secondary-color;
    margin-bottom: 5px;
}

#intro-text h1 {
    color: $main-color;
    font-weight: 600;
    font-size: 47px;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

#intro-text p {
    color: #4b4f41;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 3rem;
}

// sections

.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.section-a-text {
    padding-right: 11rem;
}

.section-a-text h2 {
    font-weight: 100;
    font-size: 28px;
    color: $secondary-color;
}

.section-a-text h1 {
    color: $main-color;
    font-weight: 900;
    font-size: 47px;
    margin-bottom: 2rem;
}

.section-a-text p {
    color: #4b4f41;
    font-size: 19.5px;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

// contagion

.contagion {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
}

.contagion>h2 {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1rem;
    color: #fa5652;
    margin-bottom: 1rem;
}

.contagion h1 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3rem;
    color: #035755;
}

.contagion>p {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-transform: initial;
    color: #4b4f51;
    width: 580px;
    margin: 2rem 26rem 0rem 26rem;
}

.contagion-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0rem 16rem;
}

.contagion-row .contagion-pic1 {
    background: #ffffff;
    box-shadow: 0px 35px 87px rgb(202, 202, 202);
    cursor: pointer;
    margin: 5rem 2rem;
    padding: 3.5rem 2.5rem;
    border-bottom: 4px transparent solid;
}

.contagion-row .contagion-pic1:hover {
    background: #f7f7f7;
    border-bottom: 4px #fa5652 solid;
    transform: all;
    transition: all 0.5s ease-in-out;
}

// symptoms
.symptoms {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8rem 16rem;
}

.symptoms p {
    font-weight: 200;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: initial;
    color: #4b4f51;
    width: 620px;
    margin-top: 2rem;
    margin-left: 10rem;
}

.pre-img {
    margin-left: 3rem;
}

// prevention

.prevention {
    text-align: center;
    margin: 8rem 2rem;

}

// prevention boxes

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8rem;
}

.all .box-1 {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.all .box-2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem;
}

.all .box-1 .box-text-1 {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.all .box-2 .box-text-1 {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-left: 8rem;
}

.box-t-t {
    margin: 0.3rem 1.5rem;
    text-align: left;

}

.box-t-t h1 {
    color: $main-color;
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.box-t-t p {
    line-height: 2rem;
    font-size: 16px;
    width: 28rem;
}

.img-1 {
    margin-left: 6rem;
}

// Section E

.contact {
    text-align: center;
    margin-bottom: 3rem;
    color: $main-color;

}

.last-txt {
    font-family: gel, sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

#contact>form>input {
    height: 10px;
    border-radius: 57px;
    background: #fff;
    font-size: 1.5rem;
    color: #758681;
    border: 2px solid transparent;
    padding: 35px 20px;
    width: 470px;
    box-shadow: 0px 35px 87px rgb(202, 202, 202);
}

#contact>form>input:focus {
    outline: none;
    border: 2px solid #fa5652;
    color: #fa5652;
}


.contact button {
    margin-left: -9rem;
    padding: 1rem 2.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: $secondary-color;
    border: none;
    border-radius: 6.5rem;
    color: #fff;
}

.contact button:hover {
    background-color: $background;
    color: $secondary-color;
    border: none;
    cursor: pointer;
}


// footer

.foot-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10rem;
    margin-bottom: 2rem;
}

.logo-2 {
    display: flex;
    align-items: center;
}

.logo-text-2 {
    padding: 1rem;
    font-size: 20px;
    font-weight: 100;
    color: $main-color;
}

#link-last {
    display: flex;
    list-style: none;
    align-items: center;
}

#link-last li {
    margin-left: 1.5rem;
}

#link-last li a {
    font-size: 16px;
    text-decoration: none;
    color: $main-color;
    font-weight: 100;
}

#link {
    display: flex;
    list-style: none;
    align-items: center;
}

#link li {
    margin-right: 2.5rem;
}

#link li a {
    font-size: 16px;
    text-decoration: none;
    color: $main-color;
    font-weight: 100;
}

.foot {
    text-align: center;
    margin: 1rem;
    color: $main-color;
    font-weight: 100;
}